.row {

    display: flex;
    justify-content: center;
    width: 100%;
}

.container-cat-first {

    background-attachment: fixed;
}

.container-cat-second {

    background-attachment: fixed;
}

img {

    padding: 20px;
    width: 400px;
    height: 400px;
}